@import url(/sass/utils/_vars.scss);
@import url(sass/utils/_globals.scss);
@import url(/sass/components/_header.scss);
@import url(/sass/components/_address.scss);
@import url(/sass/components/_clients.scss);
@import url(/sass/components/_container.scss);
@import url(/sass/components/_footer.scss);
@import url(/sass/components/_form.scss);

@import url(/sass/components/_hero.scss);
@import url(/sass/components/_job.scss);
@import url(/sass/components/_lorem.scss);
@import url(/sass/components/_media.scss);
@import url(/sass/components/_modal.scss);
@import url(/sass/components/_navigation.scss);

@import url(/sass/components/_portfolio.scss);
@import url(/sass/components/_team.scss);


